[submodule "Biometric-Identification/Libraries/openbr"]
	path = Biometric-Identification/Libraries/openbr
	url = https://github.com/biometrics/openbr
[submodule "ObjectDetection/Libraries/Detectron"]
	path = ObjectDetection/Libraries/Detectron
	url = https://github.com/facebookresearch/Detectron
[submodule "ObjectDetection/Libraries/Mask_RCNN"]
	path = ObjectDetection/Libraries/Mask_RCNN
	url = https://github.com/matterport/Mask_RCNN
[submodule "ObjectDetection/Libraries/powerai-vision-object-detection"]
	path = ObjectDetection/Libraries/powerai-vision-object-detection
	url = https://github.com/IBM/powerai-vision-object-detection
[submodule "FacialRegconition/Examples/home_surveillance"]
	path = FacialRegconition/Examples/home_surveillance
	url = https://github.com/BrandonJoffe/home_surveillance
[submodule "BiosignDetection/Examples/HeartRate/webcam-pulse-detector"]
	path = BiosignDetection/Examples/HeartRate/webcam-pulse-detector
	url = https://github.com/thearn/webcam-pulse-detector
[submodule "BiosignDetection/Examples/HeartRate/android-heart-rate-monitor"]
	path = BiosignDetection/Examples/HeartRate/android-heart-rate-monitor
	url = https://github.com/phishman3579/android-heart-rate-monitor
[submodule "BiosignDetection/Examples/HeartRate/vbcg"]
	path = BiosignDetection/Examples/HeartRate/vbcg
	url = https://github.com/nspi/vbcg
[submodule "BiosignDetection/Examples/HeartRate/pulse-detector"]
	path = BiosignDetection/Examples/HeartRate/pulse-detector
	url = https://github.com/melfm/pulse-detector
[submodule "BiosignDetection/Examples/HeartRate/visual-pulse-monitor"]
	path = BiosignDetection/Examples/HeartRate/visual-pulse-monitor
	url = https://github.com/shelhamer/visual-pulse-monitor
[submodule "BiosignDetection/Examples/HeartRate/heartbeat"]
	path = BiosignDetection/Examples/HeartRate/heartbeat
	url = https://github.com/prouast/heartbeat
[submodule "BiosignDetection/Examples/HeartRate/Heart-rate-measurement-using-camera"]
	path = BiosignDetection/Examples/HeartRate/Heart-rate-measurement-using-camera
	url = https://github.com/habom2310/Heart-rate-measurement-using-camera
[submodule "BiosignDetection/Examples/HeartRate/pulse"]
	path = BiosignDetection/Examples/HeartRate/pulse
	url = https://github.com/camilleanne/pulse
[submodule "Books/Deep-Learning-for-Computer-Vision"]
	path = Books/Deep-Learning-for-Computer-Vision
	url = https://github.com/PacktPublishing/Deep-Learning-for-Computer-Vision
[submodule "ObjectDetection/Libraries/jeelizAR"]
	path = ObjectDetection/Libraries/jeelizAR
	url = https://github.com/jeeliz/jeelizAR
[submodule "FacialRegconition/Libraries/jeelizFaceFilter"]
	path = FacialRegconition/Libraries/jeelizFaceFilter
	url = https://github.com/jeeliz/jeelizFaceFilter
[submodule "ExpressionDetection/Libraries/jeelizWeboji"]
	path = ExpressionDetection/Libraries/jeelizWeboji
	url = https://github.com/jeeliz/jeelizWeboji
[submodule "FacialRegconition/Libraries/jeelizPupillometry"]
	path = FacialRegconition/Libraries/jeelizPupillometry
	url = https://github.com/jeeliz/jeelizPupillometry
[submodule "FacialRegconition/Libraries/jeelizGlanceTracker"]
	path = FacialRegconition/Libraries/jeelizGlanceTracker
	url = https://github.com/jeeliz/jeelizGlanceTracker
[submodule "ObjectDetection/Libraries/ImageAI"]
	path = ObjectDetection/Libraries/ImageAI
	url = https://github.com/OlafenwaMoses/ImageAI
[submodule "MachineLearning/DeepLearning/Examples/DeepLearningExamples"]
	path = MachineLearning/DeepLearning/Examples/DeepLearningExamples
	url = https://github.com/NVIDIA/DeepLearningExamples
[submodule "VoiceRegconition/Examples/AlexaPi"]
	path = VoiceRegconition/Examples/AlexaPi
	url = https://github.com/novaspirit/AlexaPi.git
[submodule "VoiceRegconition/Examples/Artificial-Intelligence-Pi"]
	path = VoiceRegconition/Examples/Artificial-Intelligence-Pi
	url = https://github.com/the-raspberry-pi-guy/Artificial-Intelligence-Pi
[submodule "Books/beginning-artificial-intelligence-w-raspberry-pi"]
	path = Books/beginning-artificial-intelligence-w-raspberry-pi
	url = https://github.com/Apress/beg-artificial-intelligence-w-raspberry-pi
[submodule "MachineLearning/DeepLearning/awesome-emdl"]
	path = MachineLearning/DeepLearning/awesome-emdl
	url = https://github.com/EMDL/awesome-emdl
[submodule "BiosignDetection/Examples/Respiration/respivision"]
	path = BiosignDetection/Examples/Respiration/respivision
	url = https://github.com/rohanraja/respivision
[submodule "BiosignDetection/Examples/Respiration/realtimevideo"]
	path = BiosignDetection/Examples/Respiration/realtimevideo
	url = https://github.com/rohanraja/realtimevideo
[submodule "Biometric-Identification/Libraries/openbr-models"]
	path = Biometric-Identification/Libraries/openbr-models
	url = https://github.com/biometrics/openbr-models
[submodule "FacialRegconition/Examples/real_time_face_recognition"]
	path = FacialRegconition/Examples/real_time_face_recognition
	url = https://github.com/shanren7/real_time_face_recognition
[submodule "FacialRegconition/Examples/Raspberry-Pi-Camera-Face-Detection-Python"]
	path = FacialRegconition/Examples/Raspberry-Pi-Camera-Face-Detection-Python
	url = https://github.com/AsankaD7/Raspberry-Pi-Camera-Face-Detection-Python
[submodule "FacialRegconition/Examples/face-detection-node-opencv"]
	path = FacialRegconition/Examples/face-detection-node-opencv
	url = https://github.com/drejkim/face-detection-node-opencv
[submodule "FacialRegconition/Examples/facerec"]
	path = FacialRegconition/Examples/facerec
	url = https://github.com/bytefish/facerec
[submodule "FacialRegconition/Examples/flandmark"]
	path = FacialRegconition/Examples/flandmark
	url = https://github.com/uricamic/flandmark
[submodule "FacialRegconition/Examples/Facial-Landmark-Detector"]
	path = FacialRegconition/Examples/Facial-Landmark-Detector
	url = https://github.com/Urviagrawal/Facial-Landmark-Detector
[submodule "FacialRegconition/Examples/Webcam-Face-Detect"]
	path = FacialRegconition/Examples/Webcam-Face-Detect
	url = https://github.com/shantnu/Webcam-Face-Detect
[submodule "FacialRegconition/Examples/face-alignment"]
	path = FacialRegconition/Examples/face-alignment
	url = https://github.com/1adrianb/face-alignment
[submodule "FacialRegconition/Examples/OpenCV-Face-Recognition"]
	path = FacialRegconition/Examples/OpenCV-Face-Recognition
	url = https://github.com/Mjrovai/OpenCV-Face-Recognition
[submodule "FacialRegconition/Examples/WebGazer"]
	path = FacialRegconition/Examples/WebGazer
	url = https://github.com/brownhci/WebGazer
[submodule "FacialRegconition/Examples/face_recognition"]
	path = FacialRegconition/Examples/face_recognition
	url = https://github.com/ageitgey/face_recognition
[submodule "FacialRegconition/Examples/facemoji"]
	path = FacialRegconition/Examples/facemoji
	url = https://github.com/PiotrDabrowskey/facemoji
[submodule "ObjectDetection/Examples/simple_vehicle_counting"]
	path = ObjectDetection/Examples/simple_vehicle_counting
	url = https://github.com/andrewssobral/simple_vehicle_counting
[submodule "ObjectDetection/Examples/OnlineDetector"]
	path = ObjectDetection/Examples/OnlineDetector
	url = https://github.com/tla001/OnlineDetector
[submodule "ObjectDetection/Examples/object_detector_app"]
	path = ObjectDetection/Examples/object_detector_app
	url = https://github.com/datitran/object_detector_app
[submodule "ObjectDetection/Examples/Object-detection"]
	path = ObjectDetection/Examples/Object-detection
	url = https://github.com/lbeaucourt/Object-detection
[submodule "ObjectDetection/Libraries/openalpr"]
	path = ObjectDetection/Libraries/openalpr
	url = https://github.com/openalpr/openalpr
[submodule "ObjectDetection/Libraries/AlexeyAB-darknet"]
	path = ObjectDetection/Libraries/AlexeyAB-darknet
	url = https://github.com/AlexeyAB/darknet
[submodule "Books/Hands-On-Artificial-Intelligence-for-Beginners"]
	path = Books/Hands-On-Artificial-Intelligence-for-Beginners
	url = https://github.com/PacktPublishing/Hands-On-Artificial-Intelligence-for-Beginners
[submodule "Books/Python-Artificial-Intelligence-Projects-for-Beginners"]
	path = Books/Python-Artificial-Intelligence-Projects-for-Beginners
	url = https://github.com/PacktPublishing/Python-Artificial-Intelligence-Projects-for-Beginners
[submodule "Books/python-ml-case-studies"]
	path = Books/python-ml-case-studies
	url = https://github.com/Apress/python-ml-case-studies
[submodule "Books/practical-python-ai-projects"]
	path = Books/practical-python-ai-projects
	url = https://github.com/Apress/practical-python-ai-projects
